@model SalesboyNigeria.Models.UserAccount

@{
    ViewBag.Title = "myOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SalesboyNigeria.Models.salesboyEntities db = new SalesboyNigeria.Models.salesboyEntities();
    int sn = 0;
}

<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <div class="table-rep-plugin">
                <div class="table-responsive mb-0" data-pattern="priority-columns">
                    <table id="tech-companies-1" class="table table-striped">
                        <thead>
                            <tr>
                                <th>SN</th>
                                <th>Products</th>
                                <th>Qty</th>
                                <th>Amount(N)</th>
                            </tr>
                            @*@foreach (var item in db.Sales.to)*@
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>