@model SalesboyNigeria.Models.UserAccount

@{
    ViewBag.Title = "myOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SalesboyNigeria.Models.salesboyEntities db = new SalesboyNigeria.Models.salesboyEntities();
    int sn = 0;
}

<div class="col-lg-12">
    <div class="card">
        <div class="card-body">

            <table id="datatable-buttons"
                   class="table table-striped table-bordered dt-responsive nowrap"
                   style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Products</th>
                        <th>Qty</th>
                        <th>Amount(N)</th>
                    </tr>
                    @*@foreach (var item in db.Sales.to)*@
            </table>

        </div>
    </div>
</div>