@model SalesboyNigeria.Models.Vendor

@{
    ViewBag.Title = "Verify";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="container">
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h1 class="form-text text-center">
                        Registration Success
                    </h1>
                    <hr />
                    <h3 class="text-center alert alert-dismissable alert-primary">
                        Your registration is successfull. please check your email, we have sent a verification mail to you.
                    </h3>
                </div>
            </div>
        </div>
        <div class="col-4">
        </div>
    </div>
</div>
