
@{
    ViewBag.Title = "ListServiceProviders";
}

    <div class="container">
        <h1 class="mt-3 my-3">Service providers</h1>
        <div class="row">
            <section class="p-3 col-lg-4">
                <div class="card bg-warning text-white ">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="avatar-sm font-size-20 me-3">
                                <span class="avatar-title bg-soft-primary text-primary rounded">
                                    <i class="mdi mdi-information"></i>
                                </span>
                            </div>
                            <div class="">
                                <div class="font-size-16 mt-2">
                                    <h3 class="card-header-pills bg-white p-3 ml-3 align-content-center">Mechanic</h3>
                                    <ul>
                                        <li>Tire</li>
                                        <li>Engine</li>
                                        <li>Motor Spare Parts</li>
                                        <li>Mobile Car Wash</li>
                                        <li>Car Painting</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="p-3 col-lg-4">
                <div class="card bg-warning text-white ">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="avatar-sm font-size-20 me-3">
                                <span class="avatar-title bg-soft-primary text-primary rounded">
                                    <i class="mdi mdi-information"></i>
                                </span>
                            </div>
                            <div class="">
                                <div class="font-size-16 mt-2">
                                    <h3 class="card-header-pills bg-white p-3 ml-3 align-content-center">Expertise</h3>
                                    <ul>
                                        <li>BMW</li>
                                        <li>Mercedes Benz</li>
                                        <li>Kia</li>
                                        <li>Range Rover</li>
                                        <li>Tesla</li>
                                        <li>Toyota</li>
                                        <li>General Car Services</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="p-3 col-lg-4">
                <div class="card bg-warning text-white">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="avatar-sm font-size-20 me-3">
                                <span class="avatar-title bg-soft-primary text-primary rounded">
                                    <i class="mdi mdi-information"></i>
                                </span>
                            </div>
                            <div class="">
                                <div class="font-size-16 mt-2">
                                    <h3 class="card-header-pills bg-white p-3 ml-3 align-content-center">Plumbing</h3>
                                    <ul>
                                        <li>Pump Installation</li>
                                        <li>Pipeline Services/Installation</li>
                                        <li>Borehole Drilling</li>
                                        <li>Tanks</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="p-3 col-lg-4">
                <div class="card bg-warning text-white">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="avatar-sm font-size-20 me-3">
                                <span class="avatar-title bg-soft-primary text-primary rounded">
                                    <i class="mdi mdi-information"></i>
                                </span>
                            </div>
                            <div class="">
                                <div class="font-size-16 mt-2">
                                    <h3 class="card-header-pills bg-white p-3 ml-3 align-content-center">Electrician</h3>
                                    <ul>
                                        <li>Wiring</li>
                                        <li>Transformer Expert</li>
                                        <li>General Electrical Services</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="p-3 col-lg-4">
                <div class="card bg-warning text-white">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="avatar-sm font-size-20 me-3">
                                <span class="avatar-title bg-soft-primary text-primary rounded">
                                    <i class="mdi mdi-information"></i>
                                </span>
                            </div>
                            <div class="">
                                <div class="font-size-16 mt-2">
                                    <h3 class="card-header-pills bg-white p-3 ml-3 align-content-center">Painters</h3>
                                    <ul>
                                        <li>Painter</li>
                                        <li>Paint Producer</li>
                                        <li>Oil Painter</li>
                                        <li>Painting Company</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="p-3 col-lg-4">
                <div class="card bg-warning text-white">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="avatar-sm font-size-20 me-3">
                                <span class="avatar-title bg-soft-primary text-primary rounded">
                                    <i class="mdi mdi-information"></i>
                                </span>
                            </div>
                            <div class="">
                                <div class="font-size-16 mt-2">
                                    <h3 class="card-header-pills bg-white p-3 ml-3 align-content-center">ShoemakIng</h3>
                                    <ul>
                                        <li>Shoe Cobbler</li>
                                        <li>Mobile Shoe Maker</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="p-3 col-lg-4">
                <div class="card bg-warning text-white">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="avatar-sm font-size-20 me-3">
                                <span class="avatar-title bg-soft-primary text-primary rounded">
                                    <i class="mdi mdi-information"></i>
                                </span>
                            </div>
                            <div class="">
                                <div class="font-size-16 mt-2">
                                    <h3 class="card-header-pills bg-white p-3 ml-3 align-content-center">Tailoring</h3>
                                    <ul>
                                        <li>Fashion Designers</li>
                                        <li>Mobile Tailor</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="p-3 col-lg-4">
                <div class="card bg-warning text-white">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="avatar-sm font-size-20 me-3">
                                <span class="avatar-title bg-soft-primary text-primary rounded">
                                    <i class="mdi mdi-information"></i>
                                </span>
                            </div>
                            <div class="">
                                <div class="font-size-16 mt-2">
                                    <h3 class="card-header-pills bg-white p-3 ml-3 align-content-center">Gas</h3>
                                    <ul>
                                        <li>Mobile Gas</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="p-3 col-lg-4">
                <div class="card bg-warning text-white">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="avatar-sm font-size-20 me-3">
                                <span class="avatar-title bg-soft-primary text-primary rounded">
                                    <i class="mdi mdi-information"></i>
                                </span>
                            </div>
                            <div class="">
                                <div class="font-size-16 mt-2">
                                    <h3 class="card-header-pills bg-white p-3 ml-3 align-content-center">HouseKeeping</h3>
                                    <ul>
                                        <li>Professional Cleaners</li>
                                        <li>House Boy</li>
                                        <li>House Girl</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="p-3 col-lg-4">
                <div class="card bg-warning text-white">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="avatar-sm font-size-20 me-3">
                                <span class="avatar-title bg-soft-primary text-primary rounded">
                                    <i class="mdi mdi-information"></i>
                                </span>
                            </div>
                            <div class="">
                                <div class="font-size-16 mt-2">
                                    <h3 class="card-header-pills bg-white p-3 ml-3 align-content-center">ShopKeeping</h3>
                                    <ul>
                                        <li>Salesboy</li>
                                        <li>Salesgirl</li>
                                        <li>Sales Manager</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="p-3 col-lg-4">
                <div class="card bg-warning text-white">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="avatar-sm font-size-20 me-3">
                                <span class="avatar-title bg-soft-primary text-primary rounded">
                                    <i class="mdi mdi-information"></i>
                                </span>
                            </div>
                            <div class="">
                                <div class="font-size-16 mt-2">
                                    <h3 class="card-header-pills bg-white p-3 ml-3 align-content-center">Ambulance</h3>
                                    <ul>
                                        <li>Quick Response Ambulance</li>
                                        <li>Fire Emergency</li>
                                        <li>Mobile FIrst Aid</li>
                                        <li>Nurse Around</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="p-3 col-lg-4">
                <div class="card bg-warning text-white">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="avatar-sm font-size-20 me-3">
                                <span class="avatar-title bg-soft-primary text-primary rounded">
                                    <i class="mdi mdi-information"></i>
                                </span>
                            </div>
                            <div class="">
                                <div class="font-size-16 mt-2">
                                    <h3 class="card-header-pills bg-white p-3 ml-3 align-content-center">Carpenters</h3>
                                    <ul>
                                        <li>Professional Companies</li>
                                        <li>Chairs, Tables and Cabinet</li>
                                        <li>General Capenter</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="p-3 col-lg-4">
                <div class="card bg-warning text-white">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="avatar-sm font-size-20 me-3">
                                <span class="avatar-title bg-soft-primary text-primary rounded">
                                    <i class="mdi mdi-information"></i>
                                </span>
                            </div>
                            <div class="">
                                <div class="font-size-16 mt-2">
                                    <h3 class="card-header-pills bg-white p-3 ml-3 align-content-center">Photo Studio</h3>
                                    <ul>
                                        <li>Passport</li>
                                        <li>Professional Photo/Video Shoot</li>
                                        <li>Outdoor Photoshoot</li>
                                        <li>Mobile Photo Service</li>
                                        <li>General Photo Service</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="p-3 col-lg-4">
                <div class="card bg-warning text-white">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="avatar-sm font-size-20 me-3">
                                <span class="avatar-title bg-soft-primary text-primary rounded">
                                    <i class="mdi mdi-information"></i>
                                </span>
                            </div>
                            <div class="">
                                <div class="font-size-16 mt-2">
                                    <h3 class="card-header-pills bg-white p-3 ml-3 align-content-center">Printing</h3>
                                    <ul>
                                        <li>Mobile Printing</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="p-3 col-lg-4">
                <div class="card bg-warning text-white">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="avatar-sm font-size-20 me-3">
                                <span class="avatar-title bg-soft-primary text-primary rounded">
                                    <i class="mdi mdi-information"></i>
                                </span>
                            </div>
                            <div class="">
                                <div class="font-size-16 mt-2">
                                    <h3 class="card-header-pills bg-white p-3 ml-3 align-content-center">Immediate Errands</h3>
                                    <ul>
                                        <li>Errand Boy [VERIFIED]</li>
                                        <li>Errand Girl[VERIFIED]</li>
                                        <li>Delivery Company [VERIFIED]</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="p-3 col-lg-4">
                <div class="card bg-warning text-white">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="avatar-sm font-size-20 me-3">
                                <span class="avatar-title bg-soft-primary text-primary rounded">
                                    <i class="mdi mdi-information"></i>
                                </span>
                            </div>
                            <div class="">
                                <div class="font-size-16 mt-2">
                                    <h3 class="card-header-pills bg-white p-3 ml-3 align-content-center">Saloon</h3>
                                    <ul>
                                        <li>Men Mobile Saloon</li>
                                        <li>Women Mobile Saloon</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>