@{
    ViewBag.Title = "About";
}
<!-- about page -->
<!-- welcome -->
<div class="welcome">
    <div class="container">
        <!-- tittle heading -->
        <h3 class="tittle-w3l">
            Welcome to our Site
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        <!-- //tittle heading -->
        <div class="w3l-welcome-info">
            <div class="col-sm-6 col-xs-6 welcome-grids">
                <div class="welcome-img">
                    <img src="~/Content/Home/Images/about.jpg" class="img-responsive zoom-img" alt="">
                </div>
            </div>
            <div class="col-sm-6 col-xs-6 welcome-grids">
                <div class="welcome-img">
                    <img src="~/Content/Home/Images/about2.jpg" class="img-responsive zoom-img" alt="">
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="w3l-welcome-text">
            <p>
                SALESBOY NIGERIAN LTD : SalesBoy Nigeria is an online central market and sales environment that enables Nigerians, 
                and other foriegn countries to exchange goods and services using the “Nearest to deliver Approach''. This App is set 
                to meet the needs of  individuals and the services they need at a particular or any point in time.

            </p>
            <p>
                As technology advances
                SalesBoy.NG encompasses many more, smaller markets that are the closest to you in delivering your goods or services at exactly the
                moment you need them using cutting-edge technologies.
            </p>
        </div>
    </div>
</div>
<!-- //welcome -->
<!-- video -->
<div class="about">
    <div class="container">
        <!-- tittle heading -->
        <h3 class="tittle-w3l">
            Our Video
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        <!-- //tittle heading -->
        <div class="about-tp">
            <div class="col-md-8 about-agileits-w3layouts-left">
                <iframe src="https://player.vimeo.com/video/15520702?color=ffffff&title=0&byline=0"></iframe>
            </div>
            <div class="col-md-4 about-agileits-w3layouts-right">
                <div class="img-video-about">
                    <img src="~/Content/Home/Images/videoimg2.png" alt="">
                </div>
                <h4>Grocery Shoppy</h4>
                <p>No.1 Leading E-commerce marketplace with over 70 million Products</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //video-->
<!-- //about page -->
<!-- newsletter -->
<div class="footer-top">
    <div class="container-fluid">
        <div class="col-xs-8 agile-leftmk">
            <h2>Get your Groceries delivered from local stores</h2>
            <p>Free Delivery on your first order!</p>
            <form action="#" method="post">
                <input type="email" placeholder="E-mail" name="email" required="">
                <input type="submit" value="Subscribe">
            </form>
            <div class="newsform-w3l">
                <span class="fa fa-envelope-o" aria-hidden="true"></span>
            </div>
        </div>
        <div class="col-xs-4 w3l-rightmk">
            <img src="~/Content/Home/Images/tab3.png" alt=" ">
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //newsletter -->