
@{
    ViewBag.Title = "DisputeResolutionPolicy";
}

<div class="container">

    <section class="p-5">
        <h1 class="">Dispute Resolution Policy</h1>
        <h2 class="">About this Dispute Resolution Policy</h2>
        <p>Salesboy strives to offer a user-friendly experience across our market. However, disputes between customers, <br> service providers, sellers and/or Salesboy will occasionally occur.</p>

        <p>
            This policy provides guidance to customers on how to report issues or complaints and resolve disputes.
        </p>
        <h3 class="pt-2">
            How can I report an issue or complaint?
        </h3>
        <p>To report an issue or a complaint you may contact Salesboy customer service by calling +2348024891201, <br> 08137243528, <br> or by using our email or live chat.</p>

        <p>
            For fast and efficient resolution of specific types of issues listed below you can also use the email <br> addresses and online contact forms listed below to reach the right team directly.
        </p>

        <ul>
            <li>
                <a href="">Salesboy Pay Account Related Queries (Including Account Closure)</a>
            </li>
            <li>
                <a href="">Report Security Breaches And Suspected Frauds</a>
            </li>
            <li>
                <a href="">Data Privacy Related Requests</a>
            </li>
            <li>
                <a href="">Legal Disputes</a>
            </li>
            <li>
                <a href="">Report Incorrect Product Information</a>
            </li>
            <li>
                <a href="">Report Infringing Products</a>
            </li>
            <li>
                Email to: <span><a href="">Compliance.Alert@salesboy.com</a></span>
            </li>
        </ul>
    </section>

    <section class="p-5">
        <h3>What happens after I report an issue or complaint?</h3>
        <p>After you report and issue or a complaint Salesboy shall take the following steps:</p>
        <ol>
            <li>Record the following information for purposes of keeping you updated and tracking the issue</li>
            <ul>
                <li>your name and contact details; and</li>
                <li>the nature of the issue</li>
            </ul>
            <li>Issue a reference number for the complaint for tracking purposes.</li>
            <li>Send you regular email updates on the steps taken to resolve the issue in the event that it is <br> not resolved upon first contact.</li>
            <li>Notify you via email once the matter has been resolved and seek your confirmation of your <br> level of satisfaction with resolution.</li>
        </ol>
    </section>

    <section class="p-5">
        <h3>What happens if my issue or complaint is not resolved to my satisfaction?</h3>
        <p>Salesboy operates the escalation process set out below to ensure the timely and satisfactory resolution of all <br>issues.</p>
        <p>Where possible we will attempt to resolve issues at the first point of contact with the customer service team.</p>
        <p>
            If our customer service team is unable to resolve your issue within 24 hours of your first contact, a member of
            <br>the issue resolution team will undertake an investigation.
        </p>
        <p>
            The issue resolution team may request additional information from you and they will investigate the issue
            <br>considering all relevant circumstances and information available. You will be informed of their findings within<br> 48 hours of your first contact.
        </p>
        <p>
            In the event that the issue is not resolved within 48 hours of your first contact it will be automatically escalated <br> to the customer experience team as the final level of escalation. We endeavor to resolve all issues within 2 <br>days
            of your first contact.
        </p>
    </section>

    <section class="p-5">
        <h3>Can I contact sellers directly?</h3>
        <p>
            Salesboy will make every effort to contact sellers to resolve customer complaints on behalf of our customers. <br> However, if these efforts are unsuccessful customers may also request direct contact details for sellers <br> by contacting
            customer service.
        </p>
    </section>

    <section class="p-5">
        <h3>What if a seller refuses to cooperate in the dispute resolution process?</h3>
        <p>Any seller that fails to cooperate in good faith to resolve a customer's complaint may have its seller account <br> restricted or terminated.</p>
    </section>

    <section class="p-5">
        <h3>Other helpful sources of information</h3>
        <p>Please refer to the following other helpful sources of information on Jumia</p>
        <ul>
            <li>
                <a href="">HOW TO SHOP ON SALESBOY NIGERIA</a>
            </li>
            <li>
                <a href="">HELP WITH AN ORDER</a>
            </li>
            <li>
                <a href="">REQUEST A RETURN AND REFUND</a>
            </li>
            <li>
                <a href="">INFORMATION ABOUT DELIVERY TIMELINES</a>
            </li>
        </ul>
    </section>

</div>