
@{
    ViewBag.Title = "Privaacy";
}


<div class="container">

    <section class="p-5">
        <h1 class="">Privacy Policy</h1>
        <h2 class="">INSTRUCTIONS</h2>
        <!--Overview-->
        <h3>Overview</h3>
        <p>
            <strong>SALESBOY NIGERIAN LTD : </strong> SalesBoy Nigeria is an online central market and sales <br> environment that enables Nigerians, and other foriegn countries to exchange goods and services using the <br> “Nearest to deliver Approach''.
            <br> This App is set to meet the needs of individuals and the services they need at a particular or any point in time. <br> As technology advances SalesBoy.NG encompasses many more, smaller markets that are the closest to you in <br> delivering
            your goods or services at exactly the moment you need them using cutting-edge technologies. <br> We’ve created strategies and processes that’ll assist us in employing best practices when it has to do with <br> e-commerce, processing and
            packaging.
            <br>
        </p>
        <section>
            <h3>Instructions</h3>
            <ul>
                <li>Log on to the <a href="@Url.Action("Index","Home")">Salesboy Nigeria Website</a></li>
                <li>Register as a Vendor or Customer</li>
                <li>Start Buying or Selling</li>
            </ul>
        </section>

        <section>
            <h3>Disclaimer</h3>
            <cite>All right reserved</cite>
            <p>
                <span>[SALESBOY NIGERIA LIMITED ] PRIVACY POLICY</span> Salesboy nigeria (the “salesboy”) is committed to maintaining robust privacy protections for its users. <br> Our Privacy Policy (“Privacy Policy”) is designed to help you understand
                how we collect, use and safeguard <br> the information you provide to us and to assist you in making informed decisions when using our Service. <br>
            </p>

            <a href="#">[ www.saleboynigeria.com ] [ salesboyng ]</a>
        </section>
    </section>

    <section class="p-5">
        <h3>INFORMATION WE COLLECT</h3>
        <p>
            Salesboy Nigeria collects your data directly or indirectly in order to improve our products and services. <br> We also use stores to transfer different kinds of personal data about you for the purpose of marketing and personal data optimization
            purposes. <br> Salesboy also uses Digital Marketing to propose targeted offers to either vendors, <br> service providers or customers.
        </p>

        <P>
            <strong>NOTE: </strong> We may use third parties and publicly available sources to find out more about our vendors and service providers.
        </P>
    </section>

    <section class="p-5">
        <h3>Cookies</h3>
        <p>
            <span>
                A cookie is a piece of data from a website that is stored within a web browser that the website can retrieve at a later time.  <br>
                Cookies are used to tell the server that users have returned to a particular website. Cookies allow us to distinguish you from <br>
                other users of our website and mobile applications, which helps us to provide you with an enhanced browsing experience.
                For example we use cookies for the following purposes: <br>
            </span>
            <ul>
                <li>
                    Recognizing and counting the number of visitors and to see how visitors move around the site when they are using it <br> (this helps us to improve the way our website works, for example by ensuring that users can find what they are
                    looking for). <br>
                </li>
                <li>
                    Identifying your preferences and subscriptions e.g., language settings, saved items, items stored in your basket and Prime <br> membership; and
                </li>
                <li>Sending you newsletters and commercial/advertising messages tailored to your interests.</li>
            </ul>
            <span>
                Our approved third parties may also set cookies when you use our marketplace.  <br>
                Third parties include search engines, providers of measurement and analytics services,  <br>
                social media networks and advertising companies. <br>
            </span>
        </p>
    </section>

    <section class="p-5">
        <h3>Children’s Privacy</h3>
        <p>
            The Site and the Service are not directed to anyone under the age of 13. <br> The Site does not knowingly collect or solicit information from anyone under the age of 13, or allow anyone under the age of 13 <br> to sign up for the Service.
            <br> In the event that we learn that we have gathered personal information from anyone under the age of 13 without the consent of a parent <br> or guardian, we will delete that information as soon as possible. If you believe we have collected
            such information, please contact us at <br>
            <a href="#">[salesboy@gmail.com]. </a>
        </p>
    </section>

    <section class="p-5">
        <h3>HOW WE USE AND SHARE INFORMATION</h3>
        <i>Personal information</i>
        <p>
            Salesboy Nigeria uses both vendor and customer data to create, Update, provide, develop and improve <br> the products and services that we offer, including the following: <br>
            <ul>
                <li>Registering you as a new customer.</li>
                <li>Processing and delivering your orders.</li>
                <li>Making sure we maintain a good relationship.</li>
                <li>Ensuring you to participate in promotions, competitions and regular updates.</li>
                <li>Making sure we Improve our website, applications, products and services etc.</li>
                <li>Promoting/Advertising products or services which may be of interest to you.</li>
                <li>Complying with our legal obligations, including verifying your identity where necessary.</li>
                <li>Detecting fraud.</li>
                <li>Registration of authentic vendors around your locality</li>
                <li>Security of your goods and services.</li>
                <li>Building Trust between the vendors and customers</li>
            </ul>
        </p>
    </section>

    <section class="P-5">
        <h3>HOW WE PROTECT INFORMATION</h3>
        <p>
            We implement security measures designed to protect your information from unauthorized access. <br> Your account is protected by your account password and we urge you to take steps to keep your personal information safe by not <br> disclosing
            your password and by logging out of your account after each use. <br> We further protect your information from potential security breaches by implementing certain technological security measures including <br> encryption, firewalls and
            secure socket layer technology. <br> However, these measures do not guarantee that your information will not be accessed, disclosed, <br> altered or destroyed by breach of such firewalls and secure server software. By using our Service,
            you acknowledge that you understand <br> and agree to assume these risks. <br>
        </p>
    </section>

    <section class="P-5">
        <h3>YOUR RIGHTS REGARDING THE USE OF YOUR PERSONAL INFORMATION</h3>
        <p>
            You have the right at any time to prevent us from contacting you for marketing purposes. <br> When we send a promotional communication to a user, the user can opt out of further promotional communications by <br> following the unsubscribe
            instructions provided in each promotional email. <br> You can also indicate that you do not wish to receive marketing communications from us in the Site. <br> Please note that notwithstanding the promotional preferences you indicate by
            either unsubscribing or opting out in the Site, <br> we may continue to send you administrative emails including, for example, periodic updates to our Privacy Policy.
        </p>
    </section>

    <section class="P-5">
        <h3>LINKS TO OTHER WEBSITES</h3>
        <p>
            As part of the Service, we may provide links to or compatibility with other websites or applications. <br> However, we are not responsible for the privacy practices employed by those websites or the information or content they contain.
            <br> This Privacy Policy applies solely to information collected by us through the Site and the Service. <br> Therefore, this Privacy Policy does not apply to your use of a third party website accessed by selecting a link on our Site or
            via our Service. <br> To the extent that you access or use the Service through or on another website or application, <br> then the privacy policy of that other website or application will apply to your access or use of that site or application.
            <br> We encourage our users to read the privacy statements of other websites before proceeding to use them. <br>
        </p>
    </section>

    <section class="P-5">
        <h3>CHANGES TO OUR PRIVACY POLICY</h3>
        <p>
            The Company reserves the right to change this policy and our Terms of Service at any time. <br> We will notify you of significant changes to our Privacy Policy by sending a notice to the primary email address <br> specified in your account
            or by placing a prominent notice on our site. Significant changes will go into effect 30 days <br> following such notification. Non-material changes or clarifications will take effect immediately. <br> You should periodically check the
            Site and this privacy page for updates. <br>
        </p>
    </section>

    <section class="p-5">
        <h3>CONTACT US</h3>
        <p>
            If you have any questions regarding this Privacy Policy or the practices of this Site, please contact us by sending an email to
            <a href="#">salesboynigeria@gmail.com </a> <br>
            <cite>Last Updated:</cite> <small>This Privacy Policy was last updated in August 2022.</small>
        </p>
    </section>
</div>