
@{
    ViewBag.Title = "TermsandConditions";
}

<div class=" container">
    <section class="p-5">
        <h1 class="">
            Terms and Conditions of Use of the Salesboy Nigeria(eMarket) for Buyers and Sellers
        </h1>
        <h3 class="">Introduction</h3>
        <p>
            “Salesboy” is the trading name for the Salesboy Nigeria limited . Salesboy operates an e-commerce <br> platform consisting of a website and mobile application (“market and service provider”) together with <br> supporting logistics and
            payment infrastructure for the sale and purchase of consumer products and <br> services at its head office located in the heart of Abuja Nigeria. <br> These terms and conditions shall apply to buyers and sellers on the Salesboy platform
            and shall <br> monitor your use of the market and related services. <br>
        </p>

        <p>
            By using salesboy Nigeria emarket you accept these general terms and conditions in full. If you disagree <br> with these general terms and conditions or any part of these general terms and conditions <br> you must not use our market.
        </p>

        <p>
            If you use our market in the course of a business or other organizational project then by so doing you:
        </p>
        <ul>
            <li>Confirm that you have obtained the necessary authority to agree to these general terms and conditions;</li>
            <li>Bind both yourself and the person company or other legal entity that operates that business or organizational project to these general terms and conditions; and</li>
            <li>Agree that you in these general terms and conditions shall reference both the individual user and the relevant person company or legal entity unless the context requires otherwise.</li>
        </ul>
    </section>

    <section class="p-5">
        <h3 class="">Registration and Stores</h3>
        <p>
            You may not register with our market if you are under 15 years of age (by using our market or agreeing <br> to these general terms and conditions you warrant and represent to us that you are at least 15years old).
        </p>

        <p>
            If you register for a store with our market you will be asked to provide an email address/user ID and <br> password and you agree to:
        </p>
        <ul>
            <li>Keep your password secret;</li>
            <li>Notify salesboy in writing (using our contact details provided at section 26) if you notice any <br> disclosure of your password; </li>
            <li>Be responsible for any activity on our market arising out of any failure to keep your password <br> confidential and that you may be held liable for any losses arising out of such a failure.</li>
            <li>Your account shall be used exclusively by you and you shall not transfer your account to any <br> third party. If you authorize any third party to manage your account on your behalf this shall be <br> at your own risk.</li>
            <li>
                We may suspend or cancel your account and/or edit your account details at any time in our <br> sole discretion and without notice or explanation providing that if we cancel any products or <br> services you have paid for but not received
                and you have not breached these general terms <br> and conditions, we will refund you in respect of the same.
            </li>
            <li>You may cancel your account on our market by contacting us</li>
            <li>Vendors and service providers must deliver immediately after payment or order has been <br> confirmed to maintain good customer relation and boost of sales of goods or services</li>
        </ul>
    </section>

    <section class="p-5">
        <h3 class="">Terms and conditions of sales</h3>
        <strong>You acknowledge and agree that:</strong>
        <ul>
            <li>The salesboy provides an online location for sellers to sell and buyers to purchase products;</li>
            <li>We shall accept binding sales on behalf of sellers but (Except salesboy is indicated as the seller) <br> salesboy nigeria is not a party to the transaction between the seller and the buyer; and</li>
            <li>
                A contract for the sale and purchase of a product or products will come into force between the buyer <br> and seller and accordingly you commit to buying or selling the relevant product or products upon the buyer’s confirmation of purchase
                via the market
            </li>
        </ul>

        <p>
            Subject to these salesboy terms and conditions the seller’s terms of business shall govern the <br> contract for sale and purchase between the buyer and the seller. Notwithstanding this the following <br> provisions will be incorporated into
            the contract of sale and purchase between the buyer and the seller
        </p>

        <ul>
            <li>The price for a product will be as stated in the relevant product listing or negotiable based on <br> demand of goods or services;</li>
            <li>The price for the product must include all taxes and comply with applicable laws in force from time to time;</li>
            <li>
                Delivery charges packaging charges handling charges administrative charges insurance costs <br> other ancillary costs and charges where applicable will only be payable by the buyer if this is expressly <br> and clearly stated in the product
                listing ( unless on promo); and delivery of digital products may be made electronically;
            </li>
            <li>
                Products must be of satisfactory quality fit and safe for any purpose specified in and conform in all <br> material respects to the product listing and any other description of the products supplied or made <br> available by the seller
                to the buyer; and <br>
            </li>
            <li>
                In respect of physical products sold the seller warrants that the seller has good title to and is the sole <br> legal and beneficial owner of the products and/or has the right to supply the products pursuant to this <br> agreement
                and that the products are not subject to any third party rights or restrictions including in <br> respect of third party intellectual property rights and/or any criminal insolvency or tax investigation or <br> proceedings; and in respect
                of digital products the seller warrants that the seller has the right to supply <br> the digital products to the buyer.
            </li>
            <li>
                Products must be of the best qualities.
            </li>
        </ul>
    </section>

    <section class="p-5">
        <h3 class="">Returns and refunds</h3>
        <p>
            Returns of products by buyers and acceptance of returned products by sellers shall be managed by us <br> in accordance with the returns page on the market as may be amended from time to time. Acceptance of <br> returns shall be in our discretion
            subject to compliance with applicable laws of the territory.
        </p>

        <p>
            Refunds in respect of returned products shall be managed in accordance with the refunds page on the <br> market as may be amended from time to time. Our rules on refunds shall be exercised in our discretion subject <br> to applicable laws
            of the territory. We may offer refunds in our discretion:
        </p>

        <ul>
            <li>In respect of the product price;</li>
            <li>Local and/or international shipping fees (as stated on the refunds page); and</li>
            <li>By way of store credits vouchers mobile money transfer bank transfers or such other methods as we may <br> determine from time to time.</li>
        </ul>

        <p>
            Returned products shall be accepted and refunds issued by salesboys acting for and on behalf of the seller. <br> Notwithstanding in respect of digital products or services and fresh food salesboy Nigeria shall issue refunds in <br> respect
            of failures in delivery only. Refunds of payment for such products for any other reasons shall be subject <br> to the seller’s terms and conditions of sale.
        </p>

        <p>Changes to our returns page or refunds page shall be effective in respect of all purchases made from the date <br> of publication of the change on our website.</p>
    </section>

    <section class="p-5">
        <h3>Payments</h3>
        <p>
            You must make payments due i.e. (yearly subscriptions and payment of goods and services) under these general <br> terms and conditions in accordance with the Payments Information and Guidelines of salesboy ng.
        </p>
    </section>

    <section class="p-5">
        <h3>Store Credit</h3>
        <p>
            Store Credits may be earned and managed in accordance with the salesboy Store Credit Terms and Conditions as <br> may be amended from time to time. Salesboy reserves the right to cancel or withdraw salesboy store credit rewards <br> for any
            reason in its discretion including if we suspect fraud or foul play. You can view Reward Store Credit terms and <br> conditions on our website
        </p>
    </section>

    <section class="p-5">
        <h3>Promotions</h3>
        <p>Promotions and competitions run by salesboy Nigeria and/or other promoters shall be managed in accordance with <br> the Promotions Terms and Conditions. You can view each Promotion's terms and conditions on our website</p>
    </section>

    <section class="p-5">
        <h3>Rules About Your Content</h3>
        <p>In these general terms and conditions your content means:</p>
        <ul>
            <li>
                All works and materials (including without limitation text graphics images audio material video material audio-visual <br> material scripts software and files) that you submit to us for storage or publication processing by or onward transmission;
                <br> and
            </li>
            <li>All communications on salesboynigera including product reviews, feedback and comments.</li>
        </ul>

        <p>
            Your content and the use of your content by us in accordance with these general terms and conditions must be accurate, complete and truthful.
        </p>

        <p>Your content must be appropriate civil and tasteful and accord with generally accepted behavior on the internet and must not:</p>
        <ul>
            <li>Be offensive obscene indecent pornographic lewd suggestive or sexually explicit;</li>
            <li>Depict violence in an explicit graphic or gratuitous manner; or</li>
            <li>Be blasphemous in breach of racial or religious hatred or discrimination legislation;</li>
            <li>Be deceptive fraudulent threatening abusive harassing anti-social menacing hateful discriminatory or inflammatory;</li>
            <li>Cause annoyance inconvenience or needless anxiety to any person; or</li>
            <li>Constitute spam.</li>
        </ul>

        <p>
            Your content must not be illegal or unlawful infringe any person's legal rights or be capable of giving rise to legal action against <br> any person (in each case in any jurisdiction and under any applicable law). Your content must not
            infringe or breach:
        </p>
        <ul>
            <li>Any copyright moral right database right trademark right is designed to passing off or other intellectual property right;</li>
            <li>Any right of confidence right of privacy or right under data protection legislation;</li>
            <li>Any contractual obligation owed to any person; or</li>
            <li>Any court order.</li>
        </ul>

        <p>You must not use our marketplace to link to any website or web page consisting of or containing material that would be posted <br> on our market breach the provisions of these general terms and conditions.</p>
        <p>You must not submit to our market any material that is or has ever been the subject of any threatened or actual legal proceedings <br> or other similar complaint</p>
        <p>The review function on salesboy Nigeria may be used to facilitate buyer reviews on products. You shall not use the review function <br> or any other form of communication to provide inaccurate inauthentic or fake reviews.</p>

        <p>You must not interfere with a transaction by</p>
        <ul>
            <li>Contacting another user to buy or sell an item listed on Salesboy outside of the market; or</li>
            <li>Communicating with a user involved in an active or completed transaction to warn them away from a particular buyer <br> seller or item; or</li>
            <li>Contacting another user with the intent to collect any payments.</li>
        </ul>

        <p>
            You acknowledge that all users of Salesboy market are solely responsible for interactions with other users and you shall exercise <br> caution and good judgment in your communication with users. You shall not send them personal information
            including <br> credit card details.
        </p>
        <p>We may periodically review your content and we reserve the right to remove any content at our discretion for any reason whatsoever.</p>
        <p>If you learn of any unlawful material or activity on our market or any material or activity that breaches these general terms <br> and conditions you may inform us by contacting us.</p>
    </section>

    <section class="p-5">
        <h3>Our Rights To Use Your Content</h3>
        <ul class="list-items">
            <li>1.1 You grant to us a worldwide irrevocable non-exclusive royalty-free license to reproduce, store , publish, translate and <br> distribute your content on Salesboy Nigeria and across our marketing channels and any existing or future media.</li>
            <li>1.2 - You grant to us the right to sub-license the rights licensed under section 1.1</li>
            <li>1.3 - You grant to us the right to bring an action for infringement of the rights licensed under section 1.1</li>
            <li>
                1.4 - You hereby waive all your moral rights in your content to the maximum extent permitted by applicable law; and you <br> warrant and represent that all other moral rights in your content have been waived to the maximum extent permitted
                <br> by applicable law.
            </li>
            <li>
                1.5 - Without prejudice to our other rights under these general terms and conditions if you breach our rules on content in <br> any way or if we reasonably suspect that you have breached our rules on content we may delete unpublish or
                edit any <br> or all of your content
            </li>
        </ul>
    </section>
    <section class="p-5">
        <h3>Use Of Website and Mobile Applications</h3>
        <p>In this section 1 words “salesboy Nigeria or market ” and ``website” shall be used interchangeably to refer to salesboys <br> websites and mobile applications.</p>
        <p>You may: </p>
        <ul>
            <li>View pages from our website in a web browser;</li>
            <li>Download pages from our website for caching in a web browser;</li>
            <li>Print pages from our website for your own personal and non-commercial use providing that such printing is not <br> systematic or excessive;</li>
            <li>Stream audio and video files from our website using the media player on our website; and</li>
            <li>Use salesboy nigeria services by means of a web browser</li>
        </ul>

        <p>Subject to the other provisions of these general terms and conditions.</p>
        <p>Except as expressly permitted by section 1.2 or the other provisions of these general terms and conditions you must <br> not download any material from our website or save any such material to your computer.</p>
        <p>You may only use our website for your own personal and business purposes in respect of selling or purchasing products <br> from salesboy Nigeria website.</p>
        <p>Except as expressly permitted by these general terms and conditions you must not edit or otherwise modify any material <br> on our website</p>
        <p>Unless you own or control the relevant rights in the material you must not:</p>
        <ul>
            <li>Republish material from our website (including republication on another website</li>
            <li>Sell rent or sub-license material from our website;</li>
            <li>Show any material from our website in public;</li>
            <li>Exploit material from our website for a commercial purpose; or</li>
            <li>Redistribute material from our website.</li>
        </ul>

        <p>Notwithstanding section 1.6 you may forward links to products on our website and redistribute our newsletter and promotional <br> materials in print and electronic form to any person.</p>
        <p>
            We reserve the right to suspend or restrict access to our website to areas of our website and/or to functionality upon our website. <br> We may for example suspend access to the website during server maintenance or when we update the website.
            You must not circumvent <br> or bypass or attempt to circumvent or bypass any access restriction measures on the website
        </p>
        <p>You must not</p>
        <ul>
            <li>Use our website in any way or take any action that causes or may cause damage to the website or impairment of the performance <br> availability accessibility integrity or security of the website;</li>
            <li>Use our website in any way that is unethical unlawful illegal fraudulent or harmful or in connection with any unlawful illegal <br> fraudulent or harmful purpose or activity;</li>
            <li>Hack or otherwise tamper with our website;</li>
            <li>Probe scan or test the vulnerability of our website without our permission;</li>
            <li>Circumvent any authentication or security systems or processes on or relating to our website;</li>
            <li>Use our website to copy store host transmit send use publish or distribute any material which consists of (or is linked to) any <br> spyware computer virus Trojan horse worm keystroke logger rootkit or other malicious computer software;</li>
            <li>Impose an unreasonably large load on our website resources (including bandwidth storage capacity and processing capacity);</li>
            <li>Decrypt or decipher any communications sent by or to our website without our permission;</li>
            <li>Conduct any systematic or automated data collection activities (including without limitation scraping data mining data <br> extraction and data harvesting) on or in relation to our website without our express written consent;</li>
            <li>Access or otherwise interact with our website using any robot spider or other automated <br> means except for the purpose of search engine indexing;</li>
            <li>Use our website except by means of our public interfaces;</li>
            <li>Violate the directives set out in the file for our website;</li>
            <li>Use data collected from our website for any direct marketing activity (including without <br> limitation email marketing SMS marketing telemarketing and direct mailing); or</li>
            <li>Do anything that interferes with the normal use of our website.</li>
        </ul>
    </section>

    <section class="p-5">
        <h3>Copyright and Trademarks</h3>
        <p>Subject to the express provisions of these general terms and conditions:</p>
        <ul>
            <li>Together with our licensors own and control all the copyright and other intellectual property <br> rights in our website and the material on our website; and</li>
            <li>All the copyright and other intellectual property rights in our website and the material on our <br> website are reserved.</li>
            <li>Salesboy Nigeria's logos and our other registered and unregistered trademarks are trademarks belonging <br> to us; we give no permission for the use of these trademarks and such use may constitute an infringement of our rights.</li>
        </ul>
        <p>
            The third party registered and unregistered trademarks or service marks on our website are the property <br> of their respective owners and we do not endorse and are not affiliated with any of the holders of any such rights <br> and as such
            we cannot grant any license to exercise such rights.
        </p>
    </section>

    <section class="p-5">
        <h3>Data Privacy</h3>
        <p>Buyers agree to processing of their personal data in accordance with the terms of salesboys Privacy <br> and Cookie Notice</p>
        <p>Salesboy Nigeria shall process all personal data obtained through the market and related services in <br> accordance with the terms of our Privacy and Cookie Notice and Privacy Policy</p>
        <p>Sellers shall be directly responsible to buyers for any misuse of their personal data , salesboy shall bear no <br> liability to buyers (except in serious cases) in respect of any misuse by sellers of their personal data.</p>
    </section>

    <section class="p-5">
        <h3>Due Diligence and Audit Rights</h3>
        <p>Salesboy Nigeria operates an anti-fraud and anti-money laundering compliance program and reserves <br> the right to perform due diligence checks on all users of the market.</p>
        <p>You agree to provide to us all such information documentation and access to your business premises <br> as we may require:.</p>
        <ul>
            <li>In order to verify your adherence to and performance of your obligations under these terms <br> and conditions;</li>
            <li>For the purpose of disclosures pursuant to a valid order by a court or other governmental body; <br>or</li>
            <li>As otherwise required by law or applicable regulation.</li>
        </ul>
    </section>

    <section class="p-5">
        <h3>SALESBOY’s Role as a Market</h3>
        <p>You acknowledge that:</p>
        <ul>
            <li>Salesboy facilitates a market for service providers, buyers and third-party sellers<br> or salesboy where salesboy is the seller of a product;</li>
            <li>The relevant seller of the product (whether Salesboy is the seller or whether it is a third-party <br> seller) shall at all times remain exclusively liable for the products they sell on the market; </li>
            <li>In the event that there is an issue arising from the purchase of a product on salesboy Nigeria <br> the buyer should seek recourse from the relevant seller of the product by following the <br> process set out in <a class="text-warning" href="@Url.Action("DisputeResolutionPolicy","Home")">SALESBOY’S DISPUTE RESOLUTION POLICY</a></li>
        </ul>
        <p> We commit to ensure that Salesboy or third-party sellers as applicable submit information relating to <br> their products on the market that is complete accurate and up to date and pursuant thereto:</p>
        <ul>
            <li>The relevant seller warrants and represents the completeness and accuracy of their information br published on our marketplace relating to their products;</li>
            <li>The relevant seller warrants and represents that the material on the market is up to date; and</li>
            <li>
                If a buyer has a complaint relating to the accuracy or completeness of the product <br> information received from a seller (including where salesboy is the seller) the buyer can seek <br> recourse from the relevant seller by following
                the process set out in the salesboy Dispute <br> Resolution Policy.
            </li>
        </ul>
        <p>
            We do not warrant or represent that the market will operate without fault; or that the market or any service on <br> the market will remain available during the occurrence of events beyond Salesboy’s control which include but <br> are
            not limited to; flood drought earthquake or other natural disasters; hacking viruses malware or other <br> malicious software attacks on the salesboy; terrorist attacks civil war civil commotion or riots; war threat of or <br> preparation
            for war; epidemics or pandemics; or extra-constitutional events or circumstances which materially <br> and adversely affect the political or macro-economic stability of the territory as a whole.
        </p>
        <p>
            We reserve the right to discontinue or alter any or all of our market services and to stop publishing our market <br> at any time in our sole discretion without notice or explanation; and you will not be entitled to any <br> compensation or
            other payment upon the discontinuance or alteration of any market services or if we stop <br> publishing the market. This is without prejudice to your rights in respect of any unfulfilled orders or other <br> existing liabilities of Salesboy.
        </p>
        <p>
            If we discontinue or alter any or all of our market in any circumstances, we will provide prior notice to the <br> buyers and sellers of not less than fifteen (15) days with clear guidance on the way forward for the pending <br> transactions
            or other existing liabilities of Salesboy. 14.6 We do not guarantee any commercial results <br> concerning the use of the market.
        </p>
        <p>
            To the maximum extent permitted by applicable law and subject to section 1.1 below we exclude all <br> representations and warranties relating to the subject matter of these general terms and conditions salesboy <br> and the use of our market.
        </p>
    </section>

    <section class="p-5">
        <h3>Limitations and Exclusions of Liability</h3>
        <p>1.1 - Nothing in these terms and conditions will:</p>
        <ul>
            <li>1. limit any liabilities in any way that is not permitted under applicable law; or</li>
            <li>2. exclude any liabilities or statutory rights that may not be excluded under applicable law.</li>
        </ul>

        <p>
            1.2 - The limitations and exclusions of liability set out in this section 1.1 and elsewhere in these <br> terms and conditions:
        </p>
        <ul>
            <li>1. are subject to section 1.1; </li>
            <li>
                2. govern all liabilities arising under these general terms and conditions or relating to the subject <br> matter of these general terms and conditions including liabilities arising in contract (including <br> negligence) and for breach
                of statutory duty except to the extent expressly provided otherwise <br> in these general terms and conditions.
            </li>
        </ul>

        <p>1.3 - In respect of the services offered to you free of charge we will not be liable to you for any loss or <br> damage of any nature whatsoever.</p>
        <p>
            1.4 - Our aggregate liability to you in respect of any contract to provide services to you under these <br> general terms and conditions shall not exceed the total amount paid and payable to us under the <br> contract. Each separate transaction
            on the market shall constitute a separate contract for the purpose <br> of this section 1.1.
        </p>
        <p>
            1.5 - Notwithstanding section 1.4 above we will not be liable to you for any loss or damage of any <br> nature including in respect of:
        </p>
        <ul>
            <li>1. any losses occasioned by any interruption or dysfunction to the website;</li>
            <li>2. any losses arising out of any event or events beyond our reasonable control;</li>
            <li>
                3. any business losses including (without limitation) loss of or damage to profits income <br> revenue use production anticipated savings business contracts commercial opportunities or <br> goodwill;
            </li>
            <li>4. any loss or corruption of any data database or software; or</li>
            <li>5. any special indirect or consequential loss or damage.</li>
        </ul>
        <p>
            We accept that we have an interest in limiting the personal liability of our officers and employees and having <br> regard to that interest you acknowledge that we are a limited liability entity; you agree that you will not bring <br> any
            claim personally against our officers or employees in respect of any losses you suffer in connection with <br> salesboy or these general terms and conditions (this will not limit or exclude the liability of the limited liability <br> entity
            itself for the acts and omissions of our officers and employees).
        </p>
        <p>
            Our market includes hyperlinks to other websites owned and operated by third parties; such hyperlinks are not <br> recommendations. We have no control over third party websites and their contents and we accept no <br> responsibility for them
            or for any loss or damage that may arise from your use of them.
        </p>
    </section>

    <section class="p-5">
        <h3>Indemnification</h3>
        <p>You hereby indemnify us and undertake to keep us indemnified against:</p>
        <ul>
            <li>
                1. any and all losses damages costs liabilities and expenses (including without limitation legal <br> expenses and any amounts paid by us to any third party in settlement of a claim or dispute) <br> incurred or suffered by us and arising
                directly or indirectly out of your use of Salesboy Nigeria <br> or any breach by you of any provision of these general terms and conditions or the Salesboy <br> codes policies or guidelines; and
            </li>
            <li>
                2. any VAT liability or other tax liability that we may incur in relation to any sale, supply or <br> purchase made through salesboy app where that liability arises out of your failure to pay <br> withhold, declare or register to pay any
                VAT or other tax properly due in any jurisdiction.
            </li>
        </ul>
    </section>

    <section class="p-5">
        <h3>Breaches of these Terms and Conditions</h3>
        <p>
            If we permit the registration of an account on Salesboy Nigeria it will remain open indefinitely subject <br> to these general terms and conditions.
        </p>
        <p>
            If you breach these general terms and conditions or if we reasonably suspect that you have breached <br> these general terms and conditions or any salesboy codes policies or guidelines in any way we may:
        </p>
        <ul>
            <li>1. temporarily suspend your access to our marketplace;</li>
            <li>2. permanently prohibit you from accessing our market;</li>
            <li>3. block computers using your IP address from accessing our market;</li>
            <li>4. contact any or all of your internet service providers and request that they block your access <br> to our market;</li>
            <li>5. suspend or delete your account on our market; and/or</li>
            <li>6. commence legal action against you whether for breach of contract or otherwise.</li>
        </ul>
        <p>
            Where Salesboy suspends, prohibits or blocks your access to our market or a part of our market you must not <br> take any action to circumvent such suspension or prohibition or blocking (including without limitation creating <br> and/or
            using a different account).
        </p>
    </section>

    <section class="p-5">
        <h3>Entire Agreement</h3>
        <p>
            These general terms and conditions and the Salesboy codes policies and guidelines (and in respect of sellers <br> the seller terms and conditions) shall constitute the entire agreement between you and us in relation to your <br> use of our
            market and shall supersede all previous agreements between you and us in relation to your use <br> of our market.
        </p>
    </section>

    <section class="p-5">
        <h3>Hierarchy</h3>
        <p>
            Should these general terms and conditions and the seller terms and conditions and the Salesboy codes <br> policies and guidelines be in conflict these terms and conditions the seller terms and conditions and the <br> Salesboy codes policies
            and guidelines shall prevail in the order here stated.
        </p>
    </section>

    <section class="p-5">
        <h3>Variation</h3>
        <p>
            Salesboy may revise these general terms and conditions, the seller terms and conditions and the salesboy <br> codes policies and guidelines from time to time.
        </p>
        <p>The revised general terms and conditions shall apply from the date of publication on the market.</p>
    </section>

    <section class="p-5">
        <h3>No Waiver</h3>
        <p>
            No waiver of any breach of any provision of these general terms and conditions shall be construed as a further <br> or continuing waiver of any other breach of that provision or any breach of any other provision of these general <br> terms
            and conditions.
        </p>
    </section>

    <section class="p-5">
        <h3>Severability</h3>
        <p>If a provision of these general terms and conditions is determined by any court or other competent authority to <br> be unlawful and/or unenforceable the other provisions will continue in effect.</p>
        <p>
            If any unlawful and/or unenforceable provision of these general terms and conditions would be lawful or <br> enforceable if part of it were deleted that part will be deemed to be deleted and the rest of the provision will <br> continue in
            effect.
        </p>
    </section>

    <section class="p-5">
        <h3>Assignment</h3>
        <p>You hereby agree that we may assign transfer sub-contract or otherwise deal with our rights and/or obligations <br> under these general terms and conditions.</p>
        <p>You may not without our prior written consent assign transfer sub-contract or otherwise deal with any of your <br> rights and/or obligations under these general terms and conditions.</p>
    </section>

    <section class="p-5">
        <h3>Third party rights</h3>
        <p>A contract under these general terms and conditions is for our benefit and your benefit and is not intended to <br>benefit or be enforceable by any third party.</p>
        <p>The exercise of the parties' rights under a contract under these general terms and conditions is not subject to <br> the consent of any third party.</p>
    </section>

    <section class="p-5">
        <h3>Law and Jurisdiction</h3>
        <p>These general terms and conditions shall be governed by and construed in accordance with the laws of the <br> territory.</p>
        <p>Any disputes relating to these general terms and conditions shall be subject to the exclusive jurisdiction of the <br> courts of the territory.</p>
    </section>

    <section class="p-5">
        <h3>Our Company Details and Notices</h3>
        <p>You can contact us by using the contact details.</p>
        <p>
            You may contact our sellers for after-sales queries including any disputes by requesting their contact details <br> from salesboy in accordance with the <a class="text-warning" href="@Url.Action("DisputeResolutionPolicy","Home")">DISPUTE RESOLUTION POLICY</a> pursuant to which salesboy shall be obliged
            to <br> ensure that the seller is clearly verified and identifiable.
        </p>
        <p>
            You consent to receive notices electronically from us. We may provide all communications and information <br> related to your use of the marketplace in electronic format either by posting to our website or application or by <br> email
            to the email address on your account. All such communications will be deemed to be noticed in writing <br> and received by and properly given to you.
        </p>
    </section>
</div>