
@{
    ViewBag.Title = "vendors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row m-4">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <iframe src="http://vendors.salesboynigeria.com/" class="card"></iframe>
            </div>
        </div>
    </div>
</div>